.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 16px;
  border-radius: 10px;
  color: #fff;
}

.FilterComponents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 100%;
  padding: 16px;
}

/* شكل الشريط نفسه */
.FilterComponents::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

/* خلفية الشريط */
.FilterComponents::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
  border-radius: 8px;
  width: 2px;
}

/* شكل الجزء المتحرك */
.FilterComponents::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.226);
  border-radius: 8px;
  border: 2px solid transparent;
}

/* عند مرور الماوس */
.FilterComponents::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.426);
}

.collection {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.title {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.items {
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  color: #ddd;
}

.toggle {
  background: none;
  border: none;
  color: #4aa3ff;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 8px;
}

.sortSection,
.rangeSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.select {
  padding: 6px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #333;
}

.rangeRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rangeRow input {
  width: 80px;
  padding: 5px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  color: #fff;
  border-radius: 4px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 16px;
}

.submit {
  background-color: #4aa3ff;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 75%;
}

.clear {
  background-color: #4aa3ff;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 25%;
}