// borders
$primary-border: rgba(255, 255, 255, 0.507);
$secondary-border: rgba(255, 255, 255, 0.800);
$border-radius: 8px;

$primary-color: #007bff;
$background-color: rgb(18, 18, 18);
$text-color: #333;
