.Content {
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
}

.mediaBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px red solid;
}

.Header .MediaBrowser {
  background-image: linear-gradient(), ;
}

