.Content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.CollapseButton{
  background-color: #0a0a0a;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  font-size: 18px;
  cursor: pointer;
  position: fixed;
  top: 5px;
  left: 10px;
}

.Content .Filter{
    width: fit-content;
    min-width: 250px;
    height: 100%;
    border-right: 1px rgba(255, 255, 255, 0.171) solid;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.Content .Main{
    height: 100%;
    overflow-y: auto;
    overflow: hidden;

}