@use '../../variables' as *;

/* Card */
.Card{
    width: 300px;
    height: fit-content;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
}

.Card:hover{
    border-bottom: 2px solid gray;
}
    

.Card .GameCover{
    width: 100%;
    height: fit-content;
}

.Card .CradBody{
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

.Card .CradBody h4{
    padding: 10px 0;
}

.Card .CradBody p{
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.39);
    font-size: 12px;
}

.Card .CradBody .Items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.Card .CradBody .Items .UserRate{
    font-weight: bold;
    font-size: 16px;
}

.Card .CradBody .Items .UserRate::before{
    content: '✭';
    font-size: 16px;
    color: rgba(255, 217, 0, 0.637);
}

.Card .CradBody .Items .Price{
    font-weight: bold;
}

.Card .CradBody .Items .Price::after{
    content: '$';
    color: green;
}

.Card .CradBody .Genres{
    width: 100%;
}

.Card .CradBody .Genres ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.Card .CradBody .Genres ul li{
    padding: 5px;
    background-color: rgba(162, 170, 243, 0.144);
    color: rgba(255, 255, 255, 0.507);
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

.Modal{
    background-color: rgb(20,20,20);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Modal .backButton{
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    z-index: 1000;
}

.Modal .backButton button{
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    transition: 0.3s;
}

.Modal .backButton button:hover{
    color: wheat;
    cursor: pointer;
}

.ModalBody{
    width: 10px;
    height: 10px;
}